<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggs.security.distributed.uaa.dao.PermissionDao">


    <select id="findPermissionByUserId" resultType="string">
        select code from t_permission where id in (
            select permission_id from t_role_permission where role_id in(
                select role_id from t_user_role where user_id=#{id}
            )
        )
    </select>
</mapper>